  body {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #202021db;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 350px;
    margin: 20px auto 20px auto;
  }
  button:hover {
    background-color: #45a049;
  }
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .main-container {
    display: grid;
    gap: 40px;
    max-width: 650px;
    width: 100%;
  }

  .sample-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* Sample карточка */
  .sample-container {
    background-color: rgb(255, 246, 253);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    width: 300px;
  }

  .sample-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  }

  .graphs-container {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 40px;
  }

  .left-column,
  .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* .graph-container.selected {
    background-color: #4caf50 !important;
    box-shadow: 0 3px 15px rgba(76, 175, 80, 0.5) !important;
  } */

  .graph-container {
    background-color: rgb(255, 246, 253);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    /* cursor: pointer; */
  }

  .graph-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  }

  .graph-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #120d0d;
  }

  .graph {
    width: 100%;
    height: 250px;
    border: 2px solid #333;
    border-radius: 4px;
    position: relative;
  }